* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(53, 64, 155);
    padding: 30px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 60px;
    font-family: 'Lustria', serif;
}

.logo {
    font-size: 45px;
    font-weight: 900;
    font-family: 'Bungee Shade', cursive;
    flex-wrap: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
    color:#bfc9ff;
    font-weight: bold;
    font-size: 22px;
    border: 2px solid #bfc9ff;
    border-radius: 15px;
    padding: 8px 20px;
}

a:hover {
    color: navy;
}

/* =============================== */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex:none;
}

section img {
    width:200px;
    height: auto;
    object-fit: none;
}

.header-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

h1 {
    font-size: 35px;
    font-family: 'Shrikhand', cursive;
    font-size: 45px;
    line-height: 1.2;
}

section .text {
    margin: 16px 0;
    font-size: 22px;
    color: #bfc9ff;
    max-width: 500px;
    font-family: 'Spectral', serif;
    line-height: 1.4;
}

button {
    padding: 8px 15px;
    font-weight: bold;
    font-size: 22px;
    font-family: 'VT323', monospace;
    color:navy;
    margin-top: 8px;
    border-radius: 10px;

    display: flex;
    align-items: center;
}


svg {
    width: 40px;
    padding-right: 16px;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.video-container {
    position: relative;
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    outline: 2px dashed;
}

/* iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
} */

/* =============================== */

article img {
    max-width: 250px;
    height: 360px;
    object-fit: contain;
    margin: 12px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px ;
    outline: 2px dashed;
    background: #bfc9ff;
    color: rgb(53, 64, 155);
}

.film-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 70px;
    text-align: center;
    outline: 2px dashed blue;
    padding: 20px;
    font-family: 'Spectral', serif;
    font-size: 20px;
    line-height: 1.8;
}

.film-container h3 {
    font-family: 'Shrikhand', cursive;
}

.film-container .film {
    flex-wrap: wrap;
    max-width: 300px;
    line-height: 1.2;
}

article h2 {
    font-size: 50px;
    font-family: 'Rubik Puddles', cursive;
}

